* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;

}

section {
    background-color: hsl(216, 50%, 16%);
    max-width: 300px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}

h1 {
    font-size: 18px;
    color: white;
    margin: 6px;
    text-align: right;

}

p {
    font-size: 15px;
    color:  hsl(215, 51%, 70%);
    margin: 6px;

}

p > span {
    color: white;
}

section > hr {
    width: 90%;
    opacity: 10%;
}

main > section > img {
    width: 90%;
    height: 50%;
    padding: 10px;
    border-radius: 18px;
    margin-bottom: 0px;
    
}

main > section > div > p > span {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

footer {
    
}